<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="@globules-io/cordova-plugin-background-mode"
        version="1.0.0">
    <name>BackgroundMode</name>
    <description>Infinite background execution</description>
    <license>Apache-2.0</license>
    <keywords>background,foreground,wakelock,doze</keywords>
    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
    </engines>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
        </config-file>     
         <config-file parent="/*" target="res/xml/config.xml">			
			<feature name="BackgroundMode">
				<param name="android-package" value="io.globules.cordova.plugin.BackgroundMode" />
			</feature>
		</config-file>
          
          <source-file src="src/android/BackgroundMode.java" target-dir="src/io/globules/backgroundMode" />
          <source-file src="src/android/ForegroundService.java" target-dir="src/io/globules/backgroundMode" />
    </platform>
    <js-module src="www/backgroundMode.js" name="BackgroundMode">
        <clobbers target="cordova.plugins.backgroundMode" />
    </js-module>

</plugin>