<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="@globules-io/cordova-plugin-background-mode"
        version="1.0.1">

    <name>BackgroundMode</name>
    <description>Prevent app from sleeping in background using foreground service + wake lock (Android 14+ ready).</description>
    <license>Apache-2.0</license>
    <keywords>background,foreground,service,wakelock,doze,ecosystem:cordova,cordova-android</keywords>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=11.0.0"/>
        <engine name="android-sdk" version=">=29"/>
    </engines>

    <preference name="ios-deploy-target" value="12.0"/>

    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service
                android:name="de.appplant.cordova.plugin.background.ForegroundService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="specialUse|connectedDevice"/>
        </config-file>

        <source-file src="src/android/BackgroundMode.java"
                     target-dir="src/de/appplant/cordova/plugin/background"/>
        <source-file src="src/android/ForegroundService.java"
                     target-dir="src/de/appplant/cordova/plugin/background"/>
        <source-file src="src/android/BackgroundModeExt.java"
                     target-dir="src/de/appplant/cordova/plugin/background"/>

    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>audio</string>
                <string>location</string>
                <string>fetch</string>
                <string>remote-notification</string>
            </array>
        </config-file>

        <header-file src="src/ios/APPBackgroundMode.h"/>
        <source-file src="src/ios/APPBackgroundMode.m"/>
    </platform>

    <js-module src="www/backgroundMode.js" name="BackgroundMode">
        <clobbers target="cordova.plugins.backgroundMode"/>
    </js-module>

</plugin>